:root {
  color: rgb(212, 121, 17);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

content {
  width: 100%;
  max-width: 1600px;
  height: auto;
  background-color:rgb(230, 226, 215);
  display: flex;
  padding-bottom: 20px;

}
.welcome {
  width: 55px;
  margin: 0px;
  text-align: center;

  

}

.welcome marquee {
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 20px;
  width: auto;
  transform: rotate(-90deg);
  
}
